header {
  float: left;
  width: 100%;
  background: #ff0000;
  color: blue;
  padding: 10px;
  border: 2px solid #0000ff;
  box-sizing: border-box;
  visibility: visible;
  display: block; 
}

header > h1 {
  float: right;
  width: 40%;
  background: #ff0000;
  color: rgb(214 122 127);
  padding: 40px;
  border: 4px solid #0000ff;
  box-sizing: border-box;
  visibility: visible;
  display: block; 
}
.clear {
  clear: both;
}

